<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>index_bird_fen_0000.png</key>
      <dict>
        <key>aliases</key>
        <array />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,88}}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{100,88}</string>
        <key>spriteSourceSize</key>
        <string>{100,88}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{0,0},{100,88}}</string>
        <key>textureRotated</key>
        <false />
      </dict>
      <key>index_bird_fen_0001.png</key>
      <dict>
        <key>aliases</key>
        <array />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,88}}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{100,88}</string>
        <key>spriteSourceSize</key>
        <string>{100,88}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{100,0},{100,88}}</string>
        <key>textureRotated</key>
        <false />
      </dict>
      <key>index_bird_fen_0002.png</key>
      <dict>
        <key>aliases</key>
        <array />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,88}}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{100,88}</string>
        <key>spriteSourceSize</key>
        <string>{100,88}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{200,0},{100,88}}</string>
        <key>textureRotated</key>
        <false />
      </dict>
      <key>index_bird_fen_0003.png</key>
      <dict>
        <key>aliases</key>
        <array />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,88}}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{100,88}</string>
        <key>spriteSourceSize</key>
        <string>{100,88}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{300,0},{100,88}}</string>
        <key>textureRotated</key>
        <false />
      </dict>
      <key>index_bird_fen_0004.png</key>
      <dict>
        <key>aliases</key>
        <array />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,88}}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{100,88}</string>
        <key>spriteSourceSize</key>
        <string>{100,88}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{400,0},{100,88}}</string>
        <key>textureRotated</key>
        <false />
      </dict>
      <key>index_bird_fen_0005.png</key>
      <dict>
        <key>aliases</key>
        <array />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,88}}</string>
        <key>spriteOffset</key>
        <string>{0,0}</string>
        <key>spriteSize</key>
        <string>{100,88}</string>
        <key>spriteSourceSize</key>
        <string>{100,88}</string>
        <key>spriteTrimmed</key>
        <false />
        <key>textureRect</key>
        <string>{{500,0},{100,88}}</string>
        <key>textureRotated</key>
        <false />
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>3</integer>
      <key>size</key>
      <string>{620,108}</string>
      <key>target</key>
      <dict>
        <key>name</key>
        <string>index_bird_fen_ani.png</string>
        <key>textureFileName</key>
        <string>index_bird_fen_ani</string>
        <key>textureFileExtension</key>
        <string>png</string>
        <key>premultipliedAlpha</key>
        <true />
      </dict>
    </dict>
  </dict>
</plist>